@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './variables/variables.scss';
@import './variables/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: $WhiteGBTop;
  z-index: -1;
  border-radius: 0 0 20px 20px;
  top: 0;

  &.dark {
    background-color: $DarkBGTop;
  }
}

.App {
  width: 1110px;
  margin: 0 auto;

  @include respond(mobile) {
    width: 90vw;
  }
}

.Sub-Title {
  font-size: 24px;
  font-weight: 700;
  color: $PrimaryText;
  margin-bottom: 30px;

  &.dark {
    color: $PrimaryTextDark;
  }
}

@import './components/Platform.scss';
@import './components/Header.scss';
@import './components/Switch.scss';
