$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$YouTube: hsl(348, 97%, 39%);

//Dark Theme

$ToggleDark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

//Light Theme

$Togglelight: hsl(230, 22%, 74%);

//Dark Theme

$DarkBG: hsl(230, 17%, 14%);
$DarkBGTop: hsl(232, 19%, 15%);
$CardBGDark: hsl(228, 28%, 20%);
$PrimaryTextDark: hsl(0, 0%, 100%);
$SecondaryTextDark: hsl(228, 34%, 66%);

//Light Theme

$WhiteBG: hsl(0, 0%, 100%);
$WhiteGBTop: hsl(225, 100%, 98%);
$CardBGLight: hsl(227, 47%, 96%);
$PrimaryText: hsl(230, 17%, 14%);
$SecondaryText: hsl(228, 12%, 44%);
