.platform-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @include respond(mobile) {
    justify-content: center;
    width: 90vw;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $CardBGLight;
  color: $PrimaryText;
  height: 216px;
  width: 250px;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  transition: all 300ms;

  &__border {
    position: absolute;
    width: 100%;
    height: 5px;
    transform: translateY(-106px);
    border-radius: 5px 5px 0 0;
    background: white;
  }

  &__bottom {
    border-radius: 5px;
    height: 125px;

    &:nth-child(4n) {
      margin-right: 0px;
    }

    &--top {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin-bottom: 30px;
      color: $SecondaryText;
    }

    &--bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;

      &.dark {
        h3 {
          color: $PrimaryTextDark;
        }
      }

      p {
        font-weight: 400;
        margin-left: 3px;
      }

      h3 {
        font-size: 30px;
      }

      &__percent {
        display: flex;
        align-items: center;
        align-self: flex-end;
      }
    }
  }

  &.dark {
    background-color: $CardBGDark;

    & h2 {
      color: $PrimaryTextDark;
    }

    & > div > p {
      color: $SecondaryTextDark;
    }

    &:hover {
      filter: brightness(150%);
    }
  }

  @include respond(mobile) {
    width: 100%;
    margin-right: 0;
  }

  &:hover {
    filter: brightness(90%);
  }

  &__handle {
    display: flex;
    align-items: center;

    &r {
      display: inline;
      color: $SecondaryText;
      font-weight: 600;
      margin-left: 5px;
    }
  }

  &__followers {
    text-align: center;
    margin: 20px 0;

    & h2 {
      color: $PrimaryText;
      font-size: 60px;
      font-weight: 600;
    }

    & p {
      color: $SecondaryText;
      font-weight: 400;
      letter-spacing: 4px;
    }
  }

  &__update {
    display: flex;
    align-items: center;

    p {
      margin-left: 5px;
      display: inline;
    }
  }
}
